<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="color: #e8e8e8;"><strong>Blogpost Learning</strong></p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/new" class="button-link">New Post</a></li>
      </ul>
    </div>
  </nav>
<body>
<div class="container-fluid main">
